apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: linkding
  namespace: linkding
spec:
  ingressClassName: traefik
  rules:
    - host: grfs.ksefuke-labs.com
      http:
        paths:
          - backend:
              service:
                name: kube-prometheus-stack
                port:
                  number: 8080
            path: /
            pathType: Prefix