apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf

spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      #securityContext:
      #  fsGroup: 1000 # www-data group ID
      #  runAsUser: 1000 # www-data user ID
      #  runAsGroup: 1000 # www-data group ID

      containers:
      - image: ghcr.io/advplyr/audiobookshelf:2.17.2
        name: audiobookshelf
        envFrom:
          - configMapRef:
              name: abs-configmap

        ports: 
          - containerPort: 3005
            protocol: TCP
        #securityContext:
        #    allowPrivilegeEscalation: false
        volumeMounts:
          - mountPath: /config
            name: abs-config

          - mountPath: /audiobooks
            name: abs-audiobooks

          - mountPath: /metadata
            name: abs-metadata
          
      restartPolicy: Always
      volumes:
        - name: abs-config
          persistentVolumeClaim: # PVC Claim in storage.yaml
            claimName: abs-config-pvc

        - name: abs-audiobooks
          persistentVolumeClaim: # PVC Claim in storage.yaml
            claimName: abs-audiobooks-pvc

        - name: abs-metadata
          persistentVolumeClaim: # PVC Claim in storage.yaml
            claimName: abs-metadata-pvc

        