apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: metallb-config
  namespace: flux-system
spec:
  dependsOn:
    - name: infrastructure
  interval: 5m
  path: ./infrastructure/base/networking/metallb/config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
# Fixed ip-address-pool.yaml and l2-advertisement.yaml applying before Helm Chart CRDs